<body>
  <div class="search">
    <%= form_tag(districts_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>
  <h1>Districts Homepage</h1>
  <ul>
    <% @districts.each do |district| %>
    <% unless current_user.nil? %>
    <% if current_user.admin? %>
      <li class="delete"><%= button_to 'Delete', district, method: :delete %></li>
    <% end %>
    <% end %>
      <li><%= link_to("#{district.name}", district) %></li>
    <% end %>
  </ul>

  <%= link_to "Add New District", new_district_path %>

  <div id="app">
  </div>
</body>
