<h1>New District Form</h1>

<%= form_for(@district) do |f| %>
  <% if @district.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@district.errors.count, "error") %>
         prohibited this district from being saved.</h3>
      <ul>
        <% @district.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.submit "Add District" %>

<% end %>
