<div class="new-district">

<%= form_for(@district) do |f| %>

<div class="district-form">
  <h1 class="new-dis">NEW DISTRICT FORM</h1>
  <% if @district.errors.any? %>
    <div id="district-errors">
      <h3><%= pluralize(@district.errors.count, "error") %> prohibited this district from being saved:</h3>
      <ul>
        <% @district.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :description %><br>
  <%= f.text_area :description%><br>

  <div class="district-pic">
    <%= f.label :avatar do %>
      <%= f.file_field :avatar %>
    <% end %>
  </div>

  <%= f.submit "Add District" %>
</div>
<% end %>
</div>
<div class="footer">
  <%= link_to 'Back to Districts', districts_path, class: "back-link" %>
</div>
