
<% if @district.avatar? %>
  <%=  image_tag(@district.avatar.url, class: "district_pic") %>
  <% else %>
    <%= image_tag("https://s-media-cache-ak0.pinimg.com/originals/56/7d/fa/567dfadfa0238e42e6f59efa9c01f504.jpg", class: 'default') %>
    <% end %>
<h1><%= @district.name %></h1>
<% if current_user && (current_user.id == @district.user_id) %>
  <li class="delete"><%= button_to 'Delete District', @district, method: :delete %></li>
<% end %>
<p><%= @district.description %></p>
<p>Average Rating: <%= @average_rating %></p>

<% unless @district.user.nil? %>
<p>Created by: <%= @district.user.username %>
<% end %>

<h4>REVIEWS</h4>
<ul>
  <% @reviews.each do |r| %>
  <% if current_user %>
    <% if current_user.admin?  %>
      <li class="delete"><%= button_to 'Delete', district_review_path(@district, r), method: :delete %></li>
      <% end %>

      <% if current_user.id == r.user_id %>
        <li class="delete"><%= button_to 'Delete', district_review_path(@district, r), method: :delete %></li>

      <li class="update"><%= button_to 'Update', district_review_path(@district, r), method: :patch %></li>
      <% end %>
    <% end %>

    <li>
      Title: <%= r.title %><br />
      Body: <%= r.body %><br />
      Rating: <%= r.rating %><br />
      <% unless r.user.nil? %>
      Reviewer: <%= r.user.username %>
      <% end %>
      </li>
  <% end %>
</ul>

<%= link_to 'New Review', new_district_review_path(@district) %><br />
<%= link_to 'Back', districts_path %>
