<% if @district.avatar? %>
  <%=  image_tag(@district.avatar.url, class: "district_pic") %>
  <% else %>
    <%= image_tag("https://s-media-cache-ak0.pinimg.com/originals/56/7d/fa/567dfadfa0238e42e6f59efa9c01f504.jpg", class: 'default') %>
    <% end %>
<h1><%= @district.name %></h1>
<p><%= @district.description %></p>
<% if @average_rating.class == Integer %>
  <p>Average Rating: <%= @average_rating %></p>
<% else %>
  <p>Average Rating: 0 </p>
<% end %>

<% unless @district.user.nil? %>
<p>Created by: <%= @district.user.username %>
<% end %>

<h4>REVIEWS</h4>
<ul>
  <% @reviews.each do |r| %>
  <% if current_user %>
    <% if current_user.admin? %>
      <li class="delete"><%= button_to 'Delete', district_review_path(@district, r), method: :delete %></li>
      <% end %>
    <% end %>

    <li>
      Title: <%= r.title %><br />
      Body: <%= r.body %><br />
      Rating: <%= r.rating %><br />
      <% unless r.user.nil? %>
      Reviewer: <%= r.user.username %>
      <% end %>
      </li>
  <% end %>

</ul>

<%= link_to 'New Review', new_district_review_path(@district) %><br />
<%= link_to 'Back', districts_path %>
