<% if @district.avatar? %>
  <%=  image_tag(@district.avatar.url, class: "district_pic") %>
  <% else %>
    <%= image_tag("https://s-media-cache-ak0.pinimg.com/originals/56/7d/fa/567dfadfa0238e42e6f59efa9c01f504.jpg", class: 'default') %>
    <% end %>
<h1><%= @district.name %></h1>
<p><%= @district.description %></p>
<p>Average Rating: <%= @average_rating %></p>
<p>Created by: <%= @district.user.username %>
<ul>
  <% @reviews.each do |r| %>
    <li>
      Title: <%= r.title %><br />
      Body: <%= r.body %><br />
      Rating: <%= r.rating %><br />
      Reviewer: <%= r.user.username %><br />
    </li>
      <% up_votes = r.votes.where(:vote => true) %>
      <% down_votes = r.votes.where(:vote => false) %>
      <div id="upvote-count">
        <%= up_votes.count %> Upvotes
      </div>
      <div id="downvote-count">
        <%= down_votes.count %> Downvotes
      </div>

    <%= link_to "Vote Up", api_vote_up_path(r), :remote => true, id: "upvote" %>
    <%= link_to "Vote Down", api_vote_down_path(r), :remote => true, id: "downvote" %><br />
  <% end %>
</ul>

<%= link_to 'New Review', new_district_review_path(@district) %>
<%= link_to 'Back', districts_path %>
