<% if @district.avatar? %>
  <%=  image_tag(@district.avatar.url, class: "district_pic") %>
  <% else %>
    <%= image_tag("https://s-media-cache-ak0.pinimg.com/originals/56/7d/fa/567dfadfa0238e42e6f59efa9c01f504.jpg", class: 'default') %>
    <% end %>
<h1><%= @district.name %></h1>
<p><%= @district.description %></p>
<p>Average Rating: <%= @average_rating %></p>
<p>Created by: <%= @district.user.username %>
<ul>
  <% @reviews.each do |r| %>
    <li>
      Title: <%= r.title %><br />
      Body: <%= r.body %><br />
      Rating: <%= r.rating %><br />
      Reviewer: <%= r.user.username %>
      </li>
  <% end %>
</ul>

<%= link_to 'New Review', new_district_review_path(@district) %>
<%= link_to 'Back', districts_path %>
