<nav id="navbar">
  <ul>
    <% if user_signed_in? %>
      <li class="signed-in">Signed in as <span class="username"><%= current_user[:username] %></span></li>
      <li>
        <% if current_user.avatar? %>
          <%=  image_tag(current_user.avatar.url, class: "avatar") %></div>
        <% else %>
          <%= image_tag("http://www.lovemarks.com/wp-content/uploads/profile-avatars/default-avatar-ponsy-deer.png", class: "avatar") %>
        <% end %>
      </li>
      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
    <% else %>
    <li><%= link_to 'Sign In', new_user_session_path %></li>
    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>
