<!DOCTYPE html>
<html>
  <head>
    <title>StompingGround</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application'  %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <% flash.each do |key, message| %>
      <%= message %>
    <% end %>

    <%= yield %>
  </body>
</html>
