<!DOCTYPE html>
<html>
  <head>
    <title>StompingGround</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign Out", '#' %></li>
      </ul>
    </nav>
    <p class="notice"> <%= notice %></p>
    <p class="alert"> <%= alert %></p>

    <%= yield %>
  </body>
</html>
