<!DOCTYPE html>
<html>
  <head>
    <title>StompingGround</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application'  %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
  </head>

  <body>
      <%= render 'layouts/navbar' %>

  <div class="container">
    <div id="flash">
      <% flash.each do |key, message| %>
        <%= message %>
      <% end %>
    </div>

    <%= yield %>
  </div>

  </body>
</html>
